<div class="panel-body" ng-controller="GeneradorCtrl">
  <div class="col-md-12" ng-repeat="fila in abcList" ng-init="i = $index">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-2" ng-repeat="letra in fila "><h1><span class="label label-primary">{{letra}}</span></h1></div>
      <div class="col-md-1"></div>
    </div>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-2" ng-repeat="letra in generadoList[i]  track by $index"><h1><span class="label label-success">{{letra}}</span></h1></div>
      <div class="col-md-1"></div>
    </div>
  </div>
</div>


